body {
  color:white;
  background: #2e3135;
}

.container {
  text-align: center;
}

.btn {
  width:150px;
  height:65px;
  line-height:65px;
  background:#2e3135;
  color:white;
  margin:30px auto;
  border: 5px solid white;
  font-weight:bold;
  font-size:18px;
  user-select: none;
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0 10px 0 #808080;
}

.btn:hover {
  opacity:1.0
}

.btn:active {
  box-shadow: none;
  padding-top: 10px;
}

.images img {
  /* border-radius:50%; */
  border: 5px solid white;
  margin: 0 10px;
  cursor: pointer;
}

#result {
  font-weight: bold;
  font-size:24px;
  color:red;
}

#enemy {
  width:150px;
  height:150px;
  /* border-radius: 50%; */
  border: 5px solid white;
}

.selected {
  background: #808080;
}
